<app-sidebar class="app-sidebar"></app-sidebar>
<app-create-document [visible]="visible"></app-create-document>

<div class="card">
    <div class="add-document-button">
        <p-button  (onClick)="showDialog()" label="Add Document" />
        </div>
    <p-table
        #dt1
        [value]="documents"
        [globalFilterFields]="['name', 'description', 'documentType']"
        selectionMode="single"
        dataKey="id"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rows]="5"
        [paginator]="true"
        stateStorage="session"
        stateKey="statedemo-session">
        
        <!-- Global Search Input -->
        <ng-template pTemplate="caption">
            <p-iconField iconPosition="left">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input 
                    pInputText 
                    type="text" 
                    placeholder="Global Search" 
                     />
            </p-iconField>
        </ng-template>

        <!-- Table Header -->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="width:25%">
                    Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="description" style="width:25%">
                    Description <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th pSortableColumn="documentType" style="width:25%">
                    Document Type <p-sortIcon field="documentType"></p-sortIcon>
                </th>
                <th style="width:25%">
                    Link
                </th>
            </tr>
        </ng-template>

        <!-- Table Body -->
        <ng-template pTemplate="body" let-document>
            <tr [pSelectableRow]="document">
                <td>
                    <span class="p-column-title">Name</span>
                    {{ document.name }}
                </td>
                <td>
                    <span class="p-column-title">Description</span>
                    {{ document.Description }}
                </td>
                <td>
                    <span class="p-column-title">Document Type</span>
                    {{ document.documentType }}
                </td>
                <td>
                    <span class="p-column-title">Link</span>
                    <a [href]="document.documentURL" target="_blank">
                        <p-button label="viewDetails" />
                    </a>
                        <p-toast />
                        <p-confirmPopup />
                        <p-button 
                            (click)="confirm($event,document.id)" 
                            label="Delete" 
                            severity="danger" 
                            [outlined]="true" />
                </td>
            </tr>
        </ng-template>

        <!-- Empty Message -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No documents found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
