<app-sidebar class="app-sidebar"></app-sidebar>
<div class="card">
    <p-table
        #dt1
        [value]="videos" 
        [globalFilterFields]="['name', 'duration']"
        selectionMode="single"
        dataKey="id"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rows]="5"
        [paginator]="true"
        stateStorage="session"
        stateKey="statedemo-session">
        
        <!-- Global Search Input -->
        <ng-template pTemplate="caption">
            <p-iconField iconPosition="left">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input 
                    pInputText 
                    type="text" 
                    placeholder="Global Search" 
                     />
            </p-iconField>
        </ng-template>

        <!-- Table Header -->
        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%">
                    #
                </th>
                <th pSortableColumn="name" style="width:30%">
                    Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="duration" style="width:30%">
                    Duration <p-sortIcon field="duration"></p-sortIcon>
                </th>
                <th style="width:30%">
                    Link
                </th>
            </tr>
        </ng-template>

        <!-- Table Body -->
        <ng-template pTemplate="body" let-video let-i="rowIndex">
            <tr [pSelectableRow]="video">
                <td>
                    <span class="p-column-title">#</span>
                    {{ i + 1 }} <!-- Display index number starting from 1 -->
                </td>
                <td>
                    <span class="p-column-title">Name</span>
                    {{ video.name }}
                </td>
                <td>
                    <span class="p-column-title">Duration</span>
                    {{ video.duration }}
                </td>
                <td>
                    <span class="p-column-title">Link</span>
                    <a [href]="video.documentURL" target="_blank">View Video</a> <!-- Assuming there is a link property -->
                </td>
            </tr>
        </ng-template>

        <!-- Empty Message -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No videos found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
