<app-sidebar class="app-sidebar"></app-sidebar>
<app-create-user [visible]="visible"></app-create-user>

<div class="card">
    <div class="add-user-button">
        <p-button  (onClick)="showDialog()" label="Add User" />
        </div>
   
    <p-table
        #dt1
        [value]="users"
        [globalFilterFields]="['email', 'username', 'role']"
        selectionMode="single"
        dataKey="id"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rows]="5"
        [paginator]="true"
        stateStorage="session"
        stateKey="statedemo-session">
        
        <!-- Table Caption with Search -->
        <ng-template pTemplate="caption">
            <p-iconField iconPosition="left">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input 
                    pInputText 
                    type="text" 
                    placeholder="Global Search" />
            </p-iconField>
        </ng-template>
        
        <!-- Table Header -->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="email" style="width:25%">
                    Email <p-sortIcon field="email" />
                </th>
                <th pSortableColumn="username" style="width:25%">
                    User Name <p-sortIcon field="username" />
                </th>
                <th pSortableColumn="role" style="width:25%">
                    Role <p-sortIcon field="role" />
                </th>
                <th  style="width:20%">Actions</th>
            </tr>
        </ng-template>
        
        <!-- Table Body -->
        <ng-template pTemplate="body" let-user>
            <tr [pSelectableRow]="user">
                <td>
                    <span class="p-column-title">Email</span>
                    {{ user.email }}
                </td>
                <td>
                    <span class="p-column-title">User Name</span>
                    {{ user.username }}
                </td>
                <td>
                    <span class="p-column-title">Role</span>
                    <span *ngFor="let role of user.roles; let i = index">
                        {{ role.name }}<span *ngIf="i < user.roles.length - 1">, </span>
                    </span>
                </td>
                <td>
                    <p-toast />
                    <p-confirmPopup />
                    @if(user.accountNonLocked){
                        <p-button (click)="lock($event,user.username)" label="Lock" severity="danger" [outlined]="true" />
                    }@else {
                        <p-button (click)="unlock($event,user.username)" label="Unlock" severity="success" [outlined]="true" />

                    }
            </td>
            </tr>
        </ng-template>
        
        <!-- Empty Message -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="3">No users found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
