<app-sidebar class="app-sidebar"></app-sidebar>

<div class="card">
  <!-- Check if a course is clicked -->
   @if (isCourseClicked) {
    <div >
      <app-course-details [courseName]="selectedCourseName" class="coursedetails"></app-course-details>
    </div>  
   }

  @for ( course of courses; track course) {
  <div class="card-wrap" (click)="onCourseClick(course)">
    <div class="card-header one">
      <i class="fas fa-code"></i> 
    </div>
    <div class="card-content">
      <img [src]="course.imageURL" alt="{{ course.name }}" class="course-image" />
      <h1 class="card-title">{{ course.name }}</h1>
      <h2 class="card-text">{{ course.field }}</h2>
      <p class="card-text">{{ course.description }}</p>
    </div>
  </div>
}

</div>
