<app-sidebar class="app-sidebar"></app-sidebar>
<div class="card">
    <p-table
        #dt1
        [value]="notifications"
        [globalFilterFields]="['subject', 'description']"
        selectionMode="single"
        dataKey="id"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rows]="10"
        [paginator]="true"
        stateStorage="session"
        stateKey="statedemo-session">
        
        <!-- Global Search Input -->
        <ng-template pTemplate="caption">
            <p-iconField iconPosition="left">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input 
                    pInputText 
                    type="text" 
                    placeholder="Global Search" 
                     />
            </p-iconField>
        </ng-template>

        <!-- Table Header -->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="subject" style="width:20%">
                    Subject <p-sortIcon field="subject"></p-sortIcon>
                </th>
                <th pSortableColumn="description" style="width:40%">
                    Description <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th style="width:10%">
                    Details 
                </th>
            </tr>
        </ng-template>

        <!-- Table Body -->
        <ng-template pTemplate="body" let-notification>
            <tr [pSelectableRow]="notification">
                <td>
                    <span class="p-column-title">Subject</span>
                    {{ notification.subject }}
                </td>
                <td>
                    <span class="p-column-title">Description</span>
                    {{ notification.description }}
                </td>
                <td>
                    <span class="p-column-title">Details</span>
                    <p-button (onClick)="viewDetails()"  label="View Details" />
                </td>
            </tr>
        </ng-template>

        <!-- Empty Message -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="2">No notifications found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
