<form class="login-form">
    <p class="login-text">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-lock fa-stack-1x"></i>
      </span>
    </p>
    <input type="text" class="login-username" autofocus="true" required="true" placeholder="First Name" />
    <input type="text" class="login-username" autofocus="true" required="true" placeholder="Last Name" />
    <input type="text" class="login-username" autofocus="true" required="true" placeholder="Phone" />
    <input type="email" class="login-username" autofocus="true" required="true" placeholder="Email" />
    <input type="submit" name="register" value="Demande" class="login-submit" />
    <a routerLink="/login" ><input type="submit" name="Login" value="login" class="login-submit" /></a>

  </form>

  <div class="underlay-photo"></div>
  <div class="underlay-black"></div> 